/* * {
	border: 1px solid red !important;
} */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

}

* {
	font-family: 'Lato', sans-serif;
}



/* Flex Box Grid Based Layout */

.row {
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

/* Nav Bar */

.nav {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.nav_list {
	width: 100%;
	padding: 0;
	margin: 0;
}

.nav_item {
	box-sizing: border-box;
	display: inline-block;
	width: 32%;
	min-width: 48px;
	min-height: 48px;
	text-align: center;
	line-height: 24px;
	padding: 24px;
	text-transform: uppercase;
}


/* Content */

.col-6.header_bar {
	display: -webkit-flex;
	display: flex;
	width: 100%;
}

.h1,
.h3,
.h4 {
	color: #747704;
}

.h1 {
	font-size: 3em;
}

.h2 {
	color: #bcbbbb;
	margin: 10px;
	font-size: 2em;

}

.h3 {
	font-size: 3em;
}

.link-repo {
	font-size: .9em;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
}

.footer {
	font-size: .7em;
	text-align: center;
	color: #bcbbbb;
}

.subtitle-container {
	text-align: right;
}

.image {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;

}


a {
	color: #bcbbbb;
	text-decoration: none;
	min-width: 48px;
	min-height: 48px;
	padding: 1.5em;
}



.center {
	text-align: center;
}

/* Responsive Image Rules
From Twitter's Bootstrap Framework */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	max-width: 100%;
	height: auto;
}




/* Media Queries */


@media screen and (max-width: 700px) {
	.featured-work.col-4 {
		width: 50%;
	}

}

@media screen and (max-width: 500px) {
	.featured-work.col-4 {
		width: 100%;
	}

	.nav_item {
		width: 100%;
	}

	img[data-src-350px] {
		content: attr(data-src-350px, url);
	}

}